node_modules/
uploads/
.env
.env.local
datadog.env
datadog.local.env
package-lock.json/
src/public/uploads/files/*
src/public/uploads/images/*
src/sequlize/queries/queries.sql
# package-lock.json
/build
/dist
/.idea